<!-- About Section Start -->
<section class="about-section">
    <!-- Top Shape Start -->
    <div class="about-top-shape">
        <img src="static/assets/img/about-shape.png" alt="about shape"/>
    </div>
    <!-- Top Shape End -->
    <!-- Bottom Shape Start -->
    <div class="about-bottom-shape">
        <img src="static/assets/img/about-shape.png" alt="about shape"/>
    </div>
    <!-- Bottom Shape End -->
    <!-- About Top Start -->
    <div class="about-top section_100">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="about-left wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.2s">
                        <h3> AI to serve</h3>
                        <p>Our system is able to find the best locations of clean groundwater and evaluate the
                            minerals/chemical composition of that water.
                            Then depending on the GPS location of the device, our AI system will predict the best
                            location
                        </p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="about-right wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.3s">
                        <img src="static/assets/img/map.png" alt="about"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About Top End -->

    <!-- About Bottom Start -->
    <div class="about-bottom section_b_100">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="about-right wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.2s">
                        <img src="static/assets/img/device.png" alt="about"/>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="about-left wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.3s">
                        <h3>Hardware to answer</h3>
                        <p>
                            Its mission is to guide the user to the nearest and best well location. It is a 2” device
                            with a microcomputer, and its GPS sensor can detect the user's current location. Because it
                            stores lots of locations precalculated by the AI model, it can then easily guide him or her
                            to the best-nearest location.
                            We built it with lower income communities in mind:

                        </p>
                        <ul>
                            <li> - It can be used with no connectivity.</li>
                            <li> - No need for a secure access to power sources (we use ultra low power components,
                                charged for many weeks within one day of sunlight).
                            </li>
                            <li> - Using 4 LEDs as guider arrows towards the right direction.</li>
                            <li> - With the ability to change to the next-best location using a single button.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About Bottom End -->
</section>
<!-- About Section End -->
