<!--Header Section Start-->
<header class="header-area animated">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 d-flex align-items-center justify-content-between">
                <div class="logo-area">
                    <h3>
                            <span class="underline">
                                <span class="p1">well</span> <span class="p2">well</span> <span class="p3">well</span>
                            </span>
                    </h3>
                </div>
                <div class="menu-area d-flex justify-content-end align-items-center">
                    <div class="mobile-menu"></div>
                    <div class="main-menu">
                        <nav class="menu-box">
                            <ul class="nav-menu" id="mobile-menu">
                                <li><a href="/">Home</a></li>
                                <li><a href="#features">Features</a></li>
                                <li><a href="#about">About Us</a></li>
                                <li><a href="#team">Team Member</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!--Header Section End-->
