<!-- Team Section Start -->
<section class="team-section section_t_100 section_b_70">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s">
                    <h2>Our Expert <span>Team</span> <br>Members </h2>
                </div>
            </div>
        </div>
        <div class="row">

            <!-- Team Block Start -->
            <div class="col-lg-4 col-md-6">
                <div class="team-item wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.3s">
                    <div class="image">
                        <img src="static/assets/img/adel-saadeddin.jpeg" alt="image">
                        <ul class="social">
                            <li>
                                <a href="https://www.facebook.com/adelsaadeddin" target="_blank">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/in/adelsaadeddin/" target="_blank">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/adel_saadeddin/" target="_blank">
                                    <i class="fa fa-instagram"></i>
                                </a>
                            </li>
                        </ul>
                        <div class="content">
                            <h3>Adel SaadEddin</h3>
                            <span>AI Engineer</span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Team Block End -->

            <!-- Team Block Start -->
            <div class="col-lg-4 col-md-6">
                <div class="team-item wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.5s">
                    <div class="image">
                        <img src="static/assets/img/mazen-hassani.jpg" alt="image">
                        <ul class="social">
                            <li>
                                <a href="https://www.facebook.com/undefined.var" target="_blank">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/in/mazen-hassani/" target="_blank">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/mazen.hassani" target="_blank">
                                    <i class="fa fa-instagram"></i>
                                </a>
                            </li>
                        </ul>
                        <div class="content">
                            <h3>Mazen Hassani</h3>
                            <span>Robotics Engineer</span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Team Block End -->

            <!-- Team Block Start -->
            <div class="col-lg-4 col-md-6">
                <div class="team-item wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.5s">
                    <div class="image">
                        <img src="static/assets/img/pierre-schwob.jpeg" alt="image">
                        <ul class="social">
                            <li>
                                <a href="#" target="_blank">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/in/pierre-schwob-b8337362" target="_blank">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank">
                                    <i class="fa fa-instagram"></i>
                                </a>
                            </li>
                        </ul>
                        <div class="content">
                            <h3>Pierre Schwob</h3>
                            <span>AI Engineer</span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Team Block End -->


        </div>
    </div>
</section>
<!-- Team Section End -->
