<!DOCTYPE html >
<!--[if IE 8]>
<html lang="en" class="ie8 no-js">
<![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9 no-js">
<![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- Begin Head -->
<head>
    <title>Well Well | Demo APP </title>
    <link rel="shortcut icon" href="static/assets/water-drop.ico" />
    {% include 'style.html' %}
</head>

<body >
{% include 'navbar.html' %}
{% block content %}{% endblock %}
{% include 'footer.html' %}
{% include 'scripts.html' %}
</body>

</html>