{% extends 'base.html' %}
{% block content %}
    {% include 'sections/preloader.html' %}
    {% include 'sections/header.html' %}
    {% include 'sections/hero.html' %}
    {% include 'sections/companies.html' %}
{#    {% include 'sections/ibm-award.html' %}#}
    {% include 'sections/about.html' %}
    {% include 'sections/services.html' %}
    {% include 'sections/video.html' %}
    {% include 'sections/choose.html' %}
    {% include 'sections/timeline.html' %}
    {% include 'sections/team.html' %}
    {% include 'sections/contact.html' %}
    {% include 'sections/footer.html' %}
{% endblock %}
