<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description"
      content="Machine Learning project to help communities find the best water well location and get access to clean water">
<meta name="keywords"
      content="Water,Machine Learning,Drill Well,Clean Water,Call for Code Challenge,IBM,Physical Device">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="https://wellwellwell.app/">
<meta property="og:title" content="Well Well | AI to find best well location">
<meta property="og:description"
      content="Machine Learning project to help communities find the best water well location and get access to clean water">
<meta property="og:image" content="https://wellwellwell.app/static/assets/img/webapp-image.png">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="https://wellwellwell.app/">
<meta property="twitter:title" content="Well Well | AI to find best well location">
<meta property="twitter:description"
      content="Machine Learning project to help communities find the best water well location and get access to clean water">
<meta property="twitter:image" content="https://wellwellwell.app/static/assets/img/webapp-image.png">